@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Regular.ttf') format('truetype');
}

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    /*padding: 0;*/
    background-color: #0f1a2e;
    color: #c9d2d9;
}

header {
    background-color: #070d19;
    color: #c9d2d9;
}

.top-bar {
    margin-left: 199px;
    width: calc(100% - 299px);
}

.top-bar td {
    background-color: #070d19;
    border: 1px solid #4c5154;  /*disable this color*/
}

.topbar-item {
    width: 25%;
    /*white-space: nowrap;*/
}

.login-info {
    display: none;
}

header h1 {
    color: #c9d2d9;
    margin: 0;
}

main {
    width: 90%;
    margin: 20px auto;
    padding: 1px 20px 1px 20px;
    background-color: #2d3749;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

/* When sidebar is opened */
.main-shift {
    margin-left: 220px;
    width: calc((100% - 200px) * 0.9);
}

/* When menu item is selected */
.sidebar a.active-menu {
    color: #008fd5;
    background-color: #0f1a2e;
    text-align: center;
}

button {
    background-color: #008fd5;
    color: #c9d2d9;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    vertical-align: middle;
}

main button {
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

input {
    margin-left: 10px;
}

button:hover {
    border-radius: 10px;
    transition: 0.5s;
}

button:active {
    border-radius: 15px;
    color: #0f1a2e;
}

#menu-button {
    width: 28px;
    position: fixed;
    top: 14px;
    left: 15px;
    z-index: 2;
}

#login-button {
    width: 80px;
    position: fixed;
    top: 14px;
    right: 10px;
    z-index: 2;
}

#qombo-logo {
    position: fixed;
    top: 6px;
    left: 58px;
    z-index: 2;
}

#login-button a {
    color: #c9d2d9;
    text-decoration: none;
}

#login-button:active a {
    color: #0f1a2e;
    transition: 0.5s;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #070d19;
    color: #c9d2d9;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

section caption {
    background-color: #070d19;
    color: #c9d2d9;
    padding: 2px;
    border-radius: 10px;
}

a {
    color: #008fd5;
}

p {
    margin: 10px 0;
}

table {
    width: 100%;
}


th, td {
    text-align: left;
    padding-left: 5px;
    border: 1px solid #4c5154;
    vertical-align: middle;
}

th.clickable-name {
    color: #008fd5;
    cursor: pointer;
    text-decoration: underline;
}

td.clickable-name {
    color: #008fd5;
    cursor: pointer;
    text-decoration: underline;
}

span.clickable-name {
    color: #008fd5;
    cursor: pointer;
    text-decoration: underline;
}

th {
    background-color: #0f1a2e;
}

tr:nth-child(odd) {
    background-color: #3d4452;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #070d19;
    color: #c9d2d9;
    position: fixed;
    bottom: 0;
    width: 100%;
}

select {
    background-color: #008fd5;
    color: #c9d2d9;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    vertical-align: middle;
}

img {
    margin-right: 5px;
    vertical-align: middle;
}

#volume-table td {
    text-align: right;
    font-family: monospace
}

#menu-list {
    text-align: center;
}

#user-info {
    padding: 10px;
}

#user-details p, #wallet-info h2, #wallet-info p, #wallet-info caption {
    margin: 5px 0;
}

#user-avatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

#login-prompt {
    text-align: center;
}

.content-section {
    display: none;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 53px;
    left: 0;
    background-color: #070d19;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a, .sidebar p, .sidebar button {
    padding: 10px 15px;
    text-decoration: none;
    color: #c9d2d9;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    border: 2px solid #070d19;
    border-top: 1px solid #070d19;
    border-bottom: 1px solid #070d19;
}

.sidebar a:hover {
    color: #008fd5;
    background-color: #2d3749;
    transition: 1s;
}
